<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="loan_department">  
  <test name="Personal_loan">  
    <classes>  
      <class name="src/main/PurchaseAmountValidation.java"/>  
     
    </classes>  
  </test> <!-- Test -->  
</suite> <!-- Suite -->  